@import "tailwindcss";

@theme {
  --color-recycle-green-500: oklch(0.862 0.108 150.078);
  --color-recycle-browm-500: oklch(0.916 0.086 83.546);
  --color-browm-500: oklch(0.494 0.077 40.425);
}

@font-face {
  font-family: 'Minecraftia';
  src: url('/fonts/Minecraftia.ttf');
}

.erre-btn {
  background: var(--color-recycle-browm-500);
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid var(--color-browm-500);
  cursor: pointer;
}

a {
  text-decoration: underline;
}

body {
  font-family: 'Minecraftia';
  background-color: var(--color-recycle-green-500);
}

.modal {
  background-color: #ffdfa1;
  border: 3px solid #333;
}