@import "tailwindcss";

img {
    image-rendering: pixelated;
}

@utility mask-fade-bottom {
    mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
}

@utility mask-fade-top {
    mask-image: linear-gradient(to top, black 85%, transparent 100%);
}